<div class="container">

  <h1>All our Flats </h1>
  <p>All <%= @flats.length %> flats.</p>


  <div class="row justify-content-between">

    <% @flats.each do |flat| %>
      <div class="card col-4" style="width: 18rem;">
        <img class="card-img-top" src= "../../images/logo.png" alt="Card image cap" width="90" height="70">
        <div class="card-body">
          <h6><%= flat.name %></h6>
          <p><%= flat.address %></p>
          <i class="fa-solid fa-people-group"><%= flat.number_of_guests %></i>
          <i class="fa-solid fa-dollar-sign"><%= flat.price_per_night %></i>
          <div class="footer">
            <%= link_to "More info", flat_path(flat) %>
            <%= link_to "Edit", edit_flat_path(flat) %>
            <%= link_to "Remove", flat_path(flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>
